# Text files
mersenne/rand64*
sort/doc/rand64_list.txt*
sort/results/sorted*

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
sort/sort
fib/fib
mersenne/prng
multimerge_tests/test_pms
multimerge_tests/p_merge_test
multimerge_tests/bin_search_test
multimerge_tests/helpers_test
multimerge_tests/fourth_test
multimerge_tests/pms_test
multimerge_tests/pms4_test
multimerge_tests/p_merge_new_test
multimerge_tests/lsd_test
multimerge_tests/msd_test
multimerge_tests/quick3_test



# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
